---
## Create K8s cluster with Kops

- name: List clusters
  shell: "kops get clusters --state {{ kops_state_store }}"
  register: get_clusters
  ignore_errors: yes

- name: Configure the cluster before update
  shell: "kops create cluster --cloud={{ cloud }} --master-zones={{ zones }} --zones={{ zones }} --node-count={{ node_count }} --topology {{ topology }} --networking {{ networking }} --node-size={{ node_size }} --master-size={{ master_size }} --ssh-public-key={{ ssh_public_key }} --bastion='{{ bastion }}' {{ kops_cluster_name }}"
  when: get_clusters.stdout.find('{{ kops_cluster_name }}') == -1

- name: Create the cluster
  shell: "kops update cluster {{ kops_cluster_name }} --yes --state {{ kops_state_store }}"

- name: Get ELB info
  ec2_elb_info:
    region: "{{ aws_region }}"
  register: elb_info

- name: Verify that all nodes are ready in the cluster
  shell: kubectl get nodes | grep "Ready" | wc -l
  register: cmd_result
  until: cmd_result.stdout.find('{{ node_count + master_count }}') != -1
  retries: 30
  delay: 30
  when: elb_info.elbs.0.instances_inservice_count >=1

- debug: ELB="{{ elb_info.elbs.0.dns_name }}"

# Below things are not needed. We will do SSH forwarding to avoid this
# - name: SSH into Bastion
#   shell: "ssh -i {{ ssh_private_key }} ubuntu@{{ elb_info.elbs.0.dns_name }}"

# - name: Check for ssh agent running
#   shell: "eval `ssh-agent -s`"
#   register: ssh_eval

# Shouldn't copy private key to bastion
# - name: Copy created private key to Bastion
#   shell: "scp -i {{ ssh_private_key }} {{ ssh_private_key }} ubuntu@{{ elb_info.elbs.0.dns_name }}:{{ ssh_private_key }}"
